$rowHeight: 1.3vh;
$columnWidth: 2*$rowHeight;
$gridGap: 0.3vh;

.GridContainerBoardPiece {
    display: grid;
    grid-auto-rows: $rowHeight;
    grid-auto-columns: $columnWidth;
    grid-gap: $gridGap;
}

.GridContainerGameboard {
    display: grid;
    grid-auto-rows: $rowHeight;
    grid-auto-columns: $columnWidth;
    grid-gap: $gridGap;
}