$rowHeight: 25px;
$columnWidth: 2*$rowHeight;
$gridGap: 0.25*$rowHeight;

.GridContainerBoardPiece {
    display: grid;
    grid-auto-rows: $rowHeight;
    grid-auto-columns: $columnWidth;
    grid-gap: $gridGap;
}

.GridContainerGameboard {
    display: grid;
    grid-auto-rows: $rowHeight;
    grid-auto-columns: $columnWidth;
    grid-gap: $gridGap;
    height: fit-content;
}