@import '../playercolors.scss';

$borderWidth: 12px;
$selectedColor: rgb(255, 255, 255);

.Hex {
    user-select: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    pointer-events: auto;
    border: $borderWidth solid transparent;
    opacity: 0.5;
    pointer-events: none;

    &.Fuel_0 {
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
    }

    &.Fuel_1 {
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
    }

    &.Fuel_2 {
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
    }

    &.Fuel_3 {
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
    }

    &.CanPlaceWormhole {
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
    }

    &.isOrigin {
        pointer-events: all;
        border: $borderWidth solid $selectedColor;
        background-color: white;
        opacity: 1;
    }

    &.Wormhole {
        pointer-events: all;

        &.Player0 {
            border: $borderWidth solid $player0;
            background-color: white;
        }

        &.Player1 {
            border: $borderWidth solid $player1;
            background-color: white;
        }

        &.Player2 {
            border: $borderWidth solid $player2;
            background-color: white;
        }

        &.Player3 {
            border: $borderWidth solid $player3;
            background-color: white;
        }

        &.Player4 {
            border: $borderWidth solid $player4;
            background-color: white;
        }

        &.Active {
            border-style: solid;
        }

        &.Inactive {
            border-style: dashed;
        }
    }

    &.star,
    &.station,
    &.asteroid {
        pointer-events: none;
    
        &.Fuel_0,
        &.Fuel_1,
        &.Fuel_2,
        &.Fuel_3{
            opacity: 0.5;
        }

        &.CanPlaceWormhole {
            opacity: 0.5;
        }
        
        &.DebugMode {
            pointer-events: all;
        }
    }

    &.planet {
        pointer-events: none;

        &.Fuel_0,
        &.Fuel_1,
        &.Fuel_2,
        &.Fuel_3{
            opacity: 0.5;
        }

        &.CanPlaceWormhole {
            opacity: 0.5;
        }
        
        &.DebugMode {
            pointer-events: all;
        }
    }

    &.nebula {

    }

    &.cannon {

    }

    &.orbit {

    }
}

.HexBackground {
    content: "";
    position: absolute;
    top: -0.75*$borderWidth;
    left: -0.75*$borderWidth;
    width: calc(100% + 1.5*$borderWidth);
    height: calc(100% + 1.5*$borderWidth);
    background-color: rgb(0, 0, 0);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit: cover;
    box-sizing: content-box;
}

.HexInfo {
    z-index: 1;
    font-size: 12px;
}

.Edge0 {
    position: absolute; 
    top: 8px;
    right: 8px;
}

.Edge1{ 
    position: absolute; 
    top: 45%;
    right: 0;

}

.Edge2{ 
    position: absolute; 
    bottom: 8px;
    right: 10px;
}

.Edge3{ 
    position: absolute; 
    bottom: 8px;
    left: 10px;
}

.Edge4{ 
    position: absolute; 
    top: 45%;
    left: 0;
}

.Edge5{ 
    position: absolute; 
    top: 8px;
    left: 8px;
}

.Players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
    height: 100%;
    width: 100%;
    gap: 2px;

    .PlayerToken {
        aspect-ratio: 1;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid white;
        opacity: 0.25;

        &.CurrentPlayer {
            opacity: 1;
        }

        &.Player0 {
            background-color: $player0;
        }

        &.Player1 {
            background-color: $player1;
        }

        &.Player2 {
            background-color: $player2;
        }

        &.Player3 {
            background-color: $player3;
        }

        &.Player4 {
            background-color: $player4;
        }
    }
}

.TooltipContent {
    color: white;
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    background-color:rgb(92, 92, 92);
    border: 1px solid rgb(63, 62, 62);
    border-radius: 4px;
    padding: 8px;

    .FuelInfo {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;

        >img {
            height: 18px;
            width: 18px;
        }
    }

    .WormholeInfo {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;

        >img {
            height: 18px;
            width: 18px;
        }
    }
}