@import '../playercolors.scss';

.Players {
    color: white;
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 16px;
    position: fixed;
    top: 0;
    right: 0;
    height: fit-content;
    background: grey;
}

.PlayerDetails {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    border-radius: 4px;

    &.CurrentPlayer {
        border: 2px solid white;
    }
}

.PlayerPieces {
    display: flex;
    gap: 24px;
}

.BasicInfo {
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    &.Player0 {
        color: $player0;
    }

    &.Player1 {
        color: $player1;
    }

    &.Player2 {
        color: $player2;
    }

    &.Player3 {
        color: $player3;
    }

    &.Player4 {
        color: $player4;
    }
}

.PlayerInfo {
  font-size: 24px;
}

.PlayerWormholes {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.WormholeContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
}

.Wormhole {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    opacity: 0.5;

    &.Player0 {
        background-color: $player0;
    }

    &.Player1 {
        background-color: $player1;
    }

    &.Player2 {
        background-color: $player2;
    }

    &.Player3 {
        background-color: $player3;
    }

    &.Player4 {
        background-color: $player4;
    }

    &.Active {
        opacity: 1;
    }
}

.WormholeNumber {
    font-size: 16px;
}

.WormholeLocation {
    font-size: 12px;
}

.PlayerPassengers {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.Passenger {
    height: fit-content;
    width: fit-content;
}

.PassengerImage {
    height: 36px;
    width: 36px;
    object-fit: contain;
}