.GameSession {
  text-align: center;
  width: 100%; 
  height: 100%; 
  display: flex;
  font-size: 36px;
  gap: 16px;
}

.GameParts {
    flex-grow: 0;
}

.ResetButton {
    position: absolute;
    top: 8px;
    left: 8px;
}