.GameSession {
  text-align: center;
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-wrap: wrap; 
  font-size: 36px;
  gap: 48px;
}

.ResetButton {
    position: absolute;
    top: 8px;
    left: 8px;
}