.hex {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.hex-background{
    content: "";
    position: absolute;
    top: -10px; /* Adjust these values to change the border thickness */
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgb(0, 0, 0);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit: none;
}

.display-on-top {
    z-index: 1;
}

.hex.is-clicked {
    border: 20px solid rgb(248, 73, 73);
    background-color:  rgb(248, 73, 73);
}

.hex.is-neighbor {
    border: 20px solid rgb(112, 112, 249);
    background-color: rgb(112, 112, 249);
}

.hex.unreachable::after {
    background-color: gray;
}

.hex.unreachable {
    cursor: not-allowed;
    pointer-events: none;
}

.hex.space.hex-background{
    background-color: rgb(31, 0, 31);
}

.hex.planet::after {
    background-color: rgb(202, 151, 57);
}

.hex.planet {
    cursor: not-allowed;
    pointer-events: none;
}

.hex.nebula::after {
    background-color: lightcoral;
}

.hex.cannon::after {
    background-color: rgb(46, 171, 171);
}

.hex.orbit::after {
    background-color: rgb(22, 77, 33);
}

.grid-container {
    display: grid;
    grid-template: repeat(16, [row] minmax(50px, 1fr)) / repeat(10, [col] minmax(100px, 1fr));
    grid-gap: 4px;
}

